.navbar {
  background: #020f23;
  padding: 4px 14px;  
  color: #eed6d3;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  color: #fff;
  font-family: "Times New Roman", serif;
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  font-family: "Times New Roman", serif;
  font-size: 18px;
}

.navbar-nav:hover{
  color: aqua;
}